<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Materialize.Demo2 QueryInfo</title>

        <link rel="stylesheet" href="~/Content/main.css" />

        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script type="text/javascript" src="~/signalr/hubs"></script>

        <script>       
            var hub = $.connection.reportHub;

            hub.client.announceNewReport = function (i) {
                //var report = hub.getReport(i);               
                $('#report').load('/report/' + i, function () {
                                                        CollapsibleLists.apply();
                                                    });



            }
            
            $(document).ready(function () {
                $('#report').html('Waiting for OData requests...');
            });
            
            $.connection.hub.logging = true;
            $.connection.hub.start()
                                .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
                                .fail(function () { console.log('Could not Connect!'); });

        </script>

    </head>
    <body>
        <div id="report">Baaaaa</div>
    </body>
</html>
