<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Materialize.Demo2 QueryInfo</title>

        <link rel="stylesheet" href="~/Content/main.css" />

        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

        <script>       
            $(document).ready(function() {
                $('#info').html('BLAHBLAHBLAH');

                //set up signalr here
                //...

            })
        </script>

    </head>
    <body>
        <div id="info">Baaaaa</div>
    </body>
</html>
