@using Materialize.Demo2.QueryInfo
@using Mono.Linq.Expressions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IQueryInfo>

<link rel="stylesheet" href="" />
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=cs&skin=desert"></script>

<div>
    <h2>Query ID</h2>
    @Model.QueryID
</div>

<div>
    <h2>Query from Client</h2>
    <pre class="prettyprint language-cs">@Model.QueryFromClient.ToCSharpCode()</pre>
</div>

<div>
    <h2>Query to Server</h2>
    <pre class="prettyprint language-cs">@Model.QueryToServer.ToCSharpCode()</pre>
</div>

