@using Materialize.Monitor.Reporting
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SeqTransitionReport>
    
<div>
    <h2>@Model.Name</h2>
</div>

<div>
    <pre class="prettyprint language-cs">@Model.ExpressionString</pre>
</div>